/* External CSS */

Body { Background-color:Blue; 
  font-size: 1em; 
} 
address{
  border:1px solid black;
}
/*
h1{
 font-family: cursive;
}
h2{
  font-family: cursive
}
h3{font-family: cursive;
}
h4{
  font-family: curisve;
}
*/
h1{
  font-size: 3em;
}
h1,
h2,
h3,
h4,
.cursive{
  font-family: curisve;
}
a {
  text-decroation: none; 
  color: blue;
}
p {
  font-size: 1em;
}

/* custom global styles */
.displaynone {
  display: none;
}

.visibilityhidden {
  visibility:  hidden;
}

/*
     <div class="doggyInTheWindow">
 <h1> 
  Heading 1
 </h1>
 </div>
  */
.doggyInTheWindow {
  border: 10px solid black;
  border-left: 5px solid blue
  margin: 0;
  padding: 2em; 
  background-image: ur
}